section{
    position: relative;
}
.banner{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color:#808080; */
    color: black;
    line-height: 1.;
    font-size: 25px;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 500;
}
.main{
    text-align: center;
}
.main-content{
    display:flex;
    flex-wrap: wrap;
    width:1100px;
    margin:0 auto;
    font-family: "Josefin Sans",sans-serif;

}
.main-item{
    width:25%;
    padding:10px 0;
}
.title{
    width:170px;
    display: block;
}
.main-pic{
    padding-right: 7rem  ;
}
/* .buy{
    position: absolute;
    top: 0;
} */
/* nav */
nav{
    position: absolute ;
    margin: 50px 20px;
    top: 0px;
    right: 0px;
}
nav>ul>li {
    text-align: center;
    line-height: 40px;
    margin-left: 70px;
    float: left ;
}
nav>ul>li>a {
    cursor: pointer;
    /* text-decoration: none; */
    /* display: block; */
    /* outline: none; */
    width: 100% ;
    font-family: 'Open Sans', sans-serif ;
    text-transform: uppercase;
}
/* nav>ul>li:hover>a {
    color: #777;
} */

/* login */
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0,1em solid rgb(197, 101, 101);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(7 92 144);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 13%;
  border-radius: 50%;
  margin-left: 44%;
}

.container {
  margin-bottom: 50%;
  margin-left: 18%;
  align-items: center;
  height: 70%;
  width: 60%;
  background-image:url('https://wallpaperaccess.com/full/473027.jpg');
  padding: 10px;
  border-radius: 1rem;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#main-content button {
    background-color: red;
    border-radius: 1rem;
}

#sign_out_btn{
    background-color:black;
    border-radius: 1rem;
    width: 10%;

}

#sign_in_btn{
  width: 10%;
    border-radius: 1rem;
    width: 10%;   
}

#Trademark{
  /* display:flex; */
  flex-wrap: wrap;
  width:1100px;
  margin:0 auto;
  font-family: "Josefin Sans",sans-serif;
}

#Trademark image{
  height: 200px;
  width: 50%;
}

#banner_odour{
  /* background-image:url(/perfume/Media/image/bia.jpg); */
  background-attachment: fixed;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkE8AxpC0e8QQ2p2COy4WBrba95AhJzKT0xw&usqp=CAU');
}

#search_btn{
  width: 60%;
  background-color:rgb(7 92 144);
}

#side_user_name{
  margin-left: 5%;
}

#close{
  width: 10%;
}

#bill{
  width: 10%;
}

#send_btn{
  width:10%;
}

#about_BodyOdour{
  background-color:#486577;
}

#input_place{
  width: 60%;
}